---
import { markdownify } from "@lib/utils/textConverter";
import { Image } from "@astrojs/image/components";

const { data } = Astro.props;
const { title } = data.data;
const { description } = data.data;
const { Content } = await data.render();
---

<section class="section py-0">
  <div class="container text-center">
    <h1
      class="mx-auto max-w-[600px] font-bold leading-[44px]">{title}<h1/>
    <p class="mt-5">{description}</p>
  </div>
</section>

<section class="section bg-contain bg-no-repeat bg-center bg-[url('/images/banner-blur.png')]" >
  <div class="container">
    <div class="row justify-center">
      <div class="col-12 md:col-10">
        <article class="text-center">
          <h1 set:html={markdownify(title)} class="h2 text-left my-6" />
          <div class="content text-left">
            <Content />
          </div>
        </article>
      </div>
    </div>
  </div>
</section>
