---
import { markdownify } from "@lib/utils/textConverter";

const { data } = Astro.props;
const { title } = data.data;
const { Content } = await data.render();
---

<section class="section bg-contain bg-no-repeat bg-center bg-[url('/images/banner-blur.png')]" >
  <div class="container">
    <div class="row justify-center">
      <div class="col-12 md:col-10">
        <article class="text-center">
          <h1 set:html={markdownify(title)} class="h2 text-left my-6" />
          <div class="content text-left">
            <Content />
          </div>
        </article>
      </div>
    </div>
  </div>
</section>
